// Bootstrap body background
$body-bg: rgba(218, 218, 218, 0.9);

// body foreground
$body-color: seashell;

//  theme colors
$theme-colors: (
  "primary": #403042,
  "secondary": SteelBlue,
);

/* #goToShoppingCartButton {
  background-color: green;
  height: 100px;
  width: 200px;
  margin-left: 800px;
  font-family: Marker Felt;
  font-size: 30px;
  
} */
#price {
  color: black;
  font-size: 30px;
  font-family: "Marker Felt";
}

#addToShopingCart {
  background-color: blueviolet;
}

// Sass imports (The variables need to be set prior to importing)
@import "~bootstrap";
@import "~bootstrap-vue";

// Unset default Vue CLI foreground color set in App.vue, to prevent override of
// the color set in $body-color

/* #app {
  color: unset;
} */
