// Bootstrap body background
$body-bg: #edf0f1;

// body foreground
$body-color: seashell;

//  theme colors
$theme-colors: (
  'primary': #403042,
  'secondary': #9cc4b2
);

/* #goToShoppingCartButton {
  background-color: green;
  height: 100px;
  width: 200px;
  margin-left: 800px;
  font-family: Marker Felt;
  font-size: 30px;

} */

#addToShopingCart {
  color: white;
  background-color: #403042;
}

// Sass imports (The variables need to be set prior to importing)
@import '~bootstrap';
@import '~bootstrap-vue';

// Unset default Vue CLI foreground color set in App.vue, to prevent override of
// the color set in $body-color

/* #app {
  color: unset;
} */

// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
.custom-carousel {
  display: none;
}
@include media-breakpoint-up(md) {
  .custom-carousel {
    display: block;
  }
}

.custom-trending-list {
  display: block;
}
@include media-breakpoint-up(md) {
  .custom-trending-list {
    display: none;
  }
}
